[[source]]
url = "http://ftp.daumkakao.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
pprint = "*"
"partial.py" = "*"
sklearn = "*"
scipy = "*"

[dev-packages]
pylint = "*"
mypy = "*"

[requires]
python_version = "3.6"
